<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-11 offset-md-1">
      <!--ユーザー一覧を表示-->
      <h2>ユーザー一覧</h2>
        <% if @user.id == current_user.id %>
          <%= link_to 'マイページを確認する', user_path(@user) %>
        <% end %>
        <table class="table border border-dark">
          <thead>
            <th>ニックネーム</th>
            <th>レシピ投稿数</th>
            <th>フォロー</th>
            <th>フォロワー数</th>
            <th>ユーザー詳細</th>
          </thead>
          <tbody>
          <!--ユーザー情報を表示-->
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.nickname, user_path(user), class: "user_#{user.id}" %></td>
              <td><%= user.recipes.count %></td>
              <td></td>
              <td></td>
              <td><%= link_to 'ユーザー詳細', user_path(user), class: "user_#{user.id}" %></td>
            </tr>
          <% end %>
          </tbody>
      </table>
      <div>
        <!--kaminariで１０件表示 -->
        <%#= paginate @users %>
      </div>
    </div>
  </div>
</div>
