<div class="text-center m-5">
  <h1 class="my-3">ABOUT</h1>
  <p class="text-muted">
    このBook de Dolceは料理レシピ投稿サイト（お菓子専門）です。</br>
    お菓子作りは楽しい物なので、このBook de Dolceではパティシエとまでは行かなくても</br>
    少しだけ趣向の凝ったお菓子のレシピが投稿されていき</br>
    お菓子作りが趣味な女性や、恋人にお菓子をプレゼントしたい女性を応援したくて</br>
    このBook de Dolceを作成しようと考えました。
  </p>
</div>
  <div class="text-center pt-3">
    <!--仮の画像-->
    <% @recipes.first(1). each do |recipe| %>
    <tr>
        <td>
          <%= attachment_image_tag recipe, :image, :fill, 900, 400 %>
        </td>
    </tr>
    <% end %>
  </div>
</div>