<div class="text-center m-5">
  <h1 class="my-3">ABOUT</h1>
  <p class="text-muted">
    このブック・ド・ドルチェは料理レシピ投稿サイト（お菓子専門）です。</br>
    お菓子作りが趣味な女性や、これからお菓子を制作しようとしてる女性が、</br>
    お菓子のレシピを確認しながらお菓子作りができるように。
  </p>
</div>
  <div class="text-center pt-3">
    <!--仮の-->
    <% @recipes.first(1). each do |recipe| %>
    <tr>
        <td>
          <%= attachment_image_tag recipe, :image, :fill, 900, 400 %>
        </td>
    </tr>
    <% end %>
  </div>
</div>