<div class="text-center m-1">
  <h1 class="my-2">ABOUT</h1>
  <p class="text-muted">
    このBook do Dolceは料理レシピ投稿サイト（お菓子専門）です。</br>
    お菓子作りは楽しい物なので、このBook de Dolceではパティシエとまでは行かなくても</br>
    少しだけ趣向の凝ったお菓子のレシピが投稿されていき</br>
    お菓子作りが趣味な女性や、恋人にお菓子をプレゼントしたい女性を応援したくて</br>
    このBook de Dolceを作成しようと考えました。
  </p>
</div>
  <div class="text-center pt-3">
    <%= image_tag 'love-3141228_960_720', class: "image", size: "500x400" %>
  </div>
</div>