// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-1 {/*親div*/
  // position: relative;/*相対配置*/
  }

#top-magin {
  margin-bottom: 55vh;
}

.top-1 p {
  position: absolute;
  top: 85%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  font-size: 20px;
  color: #FFF0F5;
  }

.top-1 img {
  width: 100%;
  }

.top-2 {/*親div*/
  position: relative;/*相対配置*/
  top: 100%;
  }

.top-2 {
    width: 100%;
    position: absolute;
    top: 379px;
    left: 53%;
    transform: translate(-50%, -50%);
    margin-top: 18px;
    padding: 15px;
    font-size: 20px;
    color: #FF66FF;
  // position: relative;/*相対配置*/
  // top: 50%;
  // left: 45%;
  // -ms-transform: translate(-50%,-50%);
  // -webkit-transform: translate(-50%,-50%);
  // transform: translate(-50%,-50%);
  // margin-top: 20px;
  // padding: 15px;
  // height: 1250px;
  // font-size: 20px;
  }

.top-3 {
    width: 100%;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 41%;
    padding: 15px;
    font-size: 20px;
  // position: relative;/*相対配置*/
  // top: 50%;
  // left: 45%;
  // -ms-transform: translate(-50%,-50%);
  // -webkit-transform: translate(-50%,-50%);
  // transform: translate(-50%,-50%);
  // margin-top: 20px;
  // padding: 15px;
  // height: 2550px;
  // font-size: 20px;
  }

  .navbar-nav ml-auto{
    margin: 0 auto;
  }

  .c{
    height: 500px;
    width :100%;
  }
  // slickを星型に変える
  .slick-dots {
    li {
      font-size: 20px !important;
      button:before {
        content: "★" !important;
        font-size: 14px !important;
        color: rgb(60, 60, 60) !important;
      }
    }
  }



